{% extends 'base.html' %}

{% block title %}| Bookscrape scrapping{% endblock title %}

{% block main_container %}
<div class="container">
    <div class="grid-container">
        <div class="grid-card">
          <div class="image image-1"></div>
          <div class="text">
            <h2>Post Title 1</h2>
            <p>
              ipsum dolor sit amet consectetur adipisicing elit. Sapiente
              reprehenderit voluptatem dignissimos culpa sed totam velit impedit
              aut eos expedita dolores, molestiae blanditiis illum distinctio
              dolorem architecto nihil animi alias.
            </p>
          </div>
          <div class="published">Published:<span> March 21, 2021</span></div>
          <div class="button-info">More Info</div>
        </div>
      </div>



    <h1 class="heading">Book Scraped Data</h1>
    <table>
        <tbody>

            <tr>
                {% for column in columns %}

                <th class="table-head">{{column}}</th>
                {% endfor %}
            </tr>

            {% for record in records %}
            <tr>
                {% for column_data in record|list %}
                {% if loop.index == 2 %}
                <td class="table-data link">
                    <a href="{{column_data}}">Link</a>
                </td>
                {% else %}
                <td class="table-data">{{ column_data }}</td>
                {% endif %}
                {% endfor %}

            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock main_container %}