{% extends 'base.html' %}

{% block title %}| Bookscrape scrapping{% endblock title %}

{% block main_container %}
<div class="container">
    <h1 class="heading">Book Scraped Data</h1>
    <table>
        <tbody>

            <tr>
                {% for column in columns %}

                <th class="table-head">{{column}}</th>
                {% endfor %}
            </tr>

            {% for record in records %}
            <tr>
                {% for column_data in record|list %}
                {% if loop.index == 2 %}
                <td class="table-data link">
                    <a href="{{column_data}}">Link</a>
                </td>
                {% else %}
                <td class="table-data">{{ column_data }}</td>
                {% endif %}
                {% endfor %}

            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock main_container %}