
html {
  --border-color: #35838d;
  --hover-color: #fe4c4a;
  --button-color: #70abaf;
  --button-text-color: #fff;
  --h2-color: #012e33;
}
  body {
  font-family: "Poppins";
}
.feature-title{
  display:flex;
  justify-content:center
}
.grid-container {
  display: grid;
  grid-row-gap: 25px;
  grid-template-columns: repeat(4, 1fr);
}
.grid-card {
  display: grid;
  grid-template-rows: 1fr 1fr 0.15fr auto;
  border: solid 2px var(--border-color);
  margin: 0px 15px;
}
.image {
  background-size: cover;
  background-position: center center;
}
.image:hover {
  transform: translatey(-5px) translatex(-5px) scale(1.15);
}
.image-1 {
  background-image: url(https://images.unsplash.com/photo-1473496169904-658ba7c44d8a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
}
.image-2 {
  background-image: url(https://images.unsplash.com/photo-1532347922424-c652d9b7208e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=633&q=80);
}
.image-3 {
  background-image: url(https://images.unsplash.com/photo-1520116468816-95b69f847357?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
}
.image-4 {
  background-image: url(https://images.unsplash.com/photo-1527661591475-527312dd65f5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=658&q=80);
}
.text {
  margin: 10px 10px;
}
h2 {
  color: var(--h2-color);
}
h2:hover {
  color: var(--hover-color);
  cursor: pointer;
}
.published {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
span {
  color: var(--hover-color);
  margin-left: 5px;
}

.button-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 10px;
  color: var(--button-text-color);
  background-color: var(--button-color);
}
.button-info:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}
@media screen and (max-width: 1020px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

